<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>exo library</title>
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
</head>
<body>

<header class="header">
    <ul>
        <li class="header-item">
            <a class="header-link" href="{{ path('admin_author_list') }}">Admin Auteurs</a>
        </li>
        <li class="header-item">
            <a class="header-link" href="{{ path('admin_books_list') }}">Admin Livres</a>
        </li>
    </ul>
</header>