{% extends 'base.html.twig' %}


{% block main %}

    <h1 class="title">Tous les livres :</h1>

    {% for book in books %}
        <p>{{ book.title }}</p>
        <p>{{ book.style }}</p>

        {% if book.author %}
            <p>{{ book.author.firstName }}</p>
        {% endif %}

        <a href="{{ path('book_show', {'id': book.id}) }}">Voir le livre</a>
        <hr>
    {% endfor %}

{% endblock %}